<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtpENH9NAdQxPF3caCg4g4fyZ8b5Hclzw</string>
	<key>GCM_SENDER_ID</key>
	<string>567926575352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sparklinecreations.emotethis</string>
	<key>PROJECT_ID</key>
	<string>emote-this</string>
	<key>STORAGE_BUCKET</key>
	<string>emote-this.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567926575352:ios:4fb0b7a2cfba6996c02b0d</string>
</dict>
</plist>